body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    flex: 1;
    margin: 0;
    font-family: Roboto;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    width: 400px;
    margin: 0px;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900px;
    color: #142937;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px; 
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #F9FAF8;
    display: flex; 
}

button {
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    padding: 8px 24px;
    border-radius: 10px;
}

blockquote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300px; 
    width: 780px;  
    display: block; 
}

.one {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    font-size: 18px;
    color: #E5E7EB;
    padding: 0px 80px;
    
   
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}


.content {
    display: flex;
    justify-content: center;
    gap: 300px;
    margin: 100px;
    
}

.subtext {
    width: 400px;
    margin: 5px;
}

.placeholder {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 100px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 75px;
}

.illustration {
    display: flex;
    width: 150px;
    flex-wrap: wrap;   
    text-align: center;
    padding-bottom: 75px;
}

.box {
    border: 4px solid #3882F6;
    padding: 75px;
    border-radius: 10px;
    
}


.three {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

#quote {
    margin-top: -50px;
    margin-left: 510px;
    font-size: 24px;
    font-weight: bold;
}


.four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}


.call {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    width: 900px;
    height: 100px;
    padding: 25px 50px;
} 

.left {
    margin-left: 100px;
}

.signup {
    margin-right: 100px;
}

.leftpara {
    padding: 0;
    margin: 0; 
    font-size: 18px;
}

#top {
    font-size: 24px;
    font-weight: bold
}

#bottom {
    border: 2px solid white;
    padding: 8px 32px;
}


.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}


